{% load static %}
<html lang="en-US">
   {% block head %}
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta
         name="viewport"
         content="width=device-width, minimum-scale=1, maximum-scale=1"
         />
      <meta name="keywords" content="Vullogia Forum" />
      <meta name="description" content="Vullogia forum" />
      <meta name="author" content="author.com" />
      <title>Vullogia | {% block title %}{% endblock %}</title>
      <link
         href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800"
         rel="stylesheet"
         />
      <link
         rel="stylesheet"
         href="{% static 'fonts/icons/main/mainfont/style.css' %}"
         />
      <link
         rel="stylesheet"
         href="{% static 'fonts/icons/font-awesome/css/font-awesome.min.css' %}"
         />
      <!-- Vendor -->
      <link
         rel="stylesheet"
         href="{% static 'vendor/bootstrap/v3/bootstrap.min.css' %}"
         />
      <link rel="stylesheet" href="{% static 'vendor/bootstrap/v4/bootstrap-grid.css' %}" />
      <!-- Custom -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}" />
      <link rel="preconnect" href="https://fonts.gstatic.com" />
      <link
         href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap"
         rel="stylesheet"
         />
      <link rel="javascript" href="{% static 'js/app.js' %}"/>
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
   </head>
   {% endblock %}
   <body>
      <!-- HEADER -->
      <header>
         <div class="header js-header js-dropdown">
            <div class="container">
               <div class="header__logo">
                  <h1
                     style="
                     font-family: 'Staatliches', cursive;
                     font-size: 4rem;
                     "
                     >
                     Vullogia
                  </h1>
               </div>
               <div class="header__search">
                  <form action="#">
                     <label>
                     <i
                        class="
                        icon-Search
                        js-header-search-btn-open
                        "
                        ></i>
                     <input
                        type="search"
                        placeholder="Search all forums"
                        class="form-control"
                        />
                     </label>
                  </form>
                  <div
                     class="
                     header__search-close
                     js-header-search-btn-close
                     "
                     >
                     <i class="icon-Cancel"></i>
                  </div>
               </div>
               <div class="header__notification">
                  <div
                     class="header__notification-btn"
                     data-dropdown-btn="notification"
                     >
                     <i class="icon-Notification"></i>
                     <span>6</span>
                  </div>
                  <div
                     class="dropdown dropdown--design-01"
                     data-dropdown-list="notification"
                     >
                     <div>
                        <a href="#">
                           <i class="icon-Favorite_Topic"></i>
                           <p>
                              Roswell . 16 feb, 17<span
                                 >Which movie have you watched
                              recently?</span
                                 >
                           </p>
                        </a>
                        <a href="#">
                           <i class="icon-Reply_Empty"></i>
                           <p>
                              Callis . 18 feb, 17<span
                                 >I got an amzon thingie!</span
                                 >
                           </p>
                        </a>
                        <a href="#">
                           <i class="icon-Badge"></i>
                           <p>
                              Earned Badge . 19 feb, 17<span
                                 ><img
                                 src="{% static 'fonts/icons/badges/Lets_talk.svg' %}"
                                 alt="Lets Talk"
                                 />Lets Talk</span
                                 >
                           </p>
                        </a>
                        <a href="#">
                           <i class="icon-Badge"></i>
                           <p>
                              Earned Badge . 21 feb, 17<span
                                 ><img
                                 src="{% static 'fonts/icons/badges/Intermediate.svg' %}"
                                 alt="Intermediate"
                                 />Intermediate</span
                                 >
                           </p>
                        </a>
                        <a href="#">
                           <i class="icon-Share_Topic"></i>
                           <p>
                              Charlie . 22 feb, 17<span
                                 >Need Video file of that cat.</span
                                 >
                           </p>
                        </a>
                        <a href="#">
                           <i class="icon-Pencil"></i>
                           <p>
                              Greentea . 22 feb, 17<span
                                 >New Facebook like and share
                              button.</span
                                 >
                           </p>
                        </a>
                        <span
                           ><a href="#"
                           >view older notifications...</a
                           ></span
                           >
                     </div>
                  </div>
               </div>
               <div class="header__user">
                  <div class="header__user-btn" data-dropdown-btn="user">
                     <img src="{% static 'fonts/icons/avatars/A.svg' %}" alt="avatar" />
                     azyrusmax<i class="icon-Arrow_Below"></i>
                  </div>
                  <nav
                     class="dropdown dropdown--design-01"
                     data-dropdown-list="user"
                     >
                     <div>
                        <div class="dropdown__icons">
                           <a href="#"
                              ><i class="icon-Bookmark"></i
                              ></a>
                           <a href="#"><i class="icon-Message"></i></a>
                           <a href="#"
                              ><i class="icon-Preferences"></i
                              ></a>
                           <a href="#"><i class="icon-Logout"></i></a>
                        </div>
                     </div>
                     <div>
                        <ul class="dropdown__catalog">
                           <li>
                              <a href="#">Dashboard</a>
                           </li>
                           <li>
                              <a href="#">Badges</a>
                           </li>
                           <li>
                              <a href="#">My Groups</a>
                           </li>
                           <li>
                              <a href="#">Notifications</a>
                           </li>
                           <li>
                              <a href="#">Topics</a>
                           </li>
                           <li>
                              <a href="#">Likes</a>
                           </li>
                           <li>
                              <a href="#">Solved</a>
                           </li>
                        </ul>
                     </div>
                  </nav>
               </div>
            </div>
            <div class="header__offset-btn">
               <a href="create-topic.html"
                  ><img
                  src="{% static 'fonts/icons/main/New_Topic.svg' %}"
                  alt="New Topic"
                  /></a>
            </div>
         </div>
      </header>
      {% block content %} {% endblock %}
      <!-- FOOTER -->
      <footer>
         <div class="footer js-dropdown">
            <div class="container">
               <div class="footer__logo">
                  <div class="header__logo">
                  <h1
                     style="
                     font-family: 'Staatliches', cursive;
                     font-size: 4rem;
                     "
                     >
                     Vullogia
                  </h1>
               </div>
               </div>
               <div class="footer__nav">
                  <div class="footer__tline">
                     <i class="icon-Support"></i>
                     <ul class="footer__menu">
                        <li><a href="#">Support</a></li>
                        <li><a href="#">About</a></li>
                        <li>
                           <a href="#">Contact Us</a>
                        </li>
                        <li>
                           <a href="#">The Vullogia</a>
                        </li>
                     </ul>
                     <div class="footer__language">
                        <div
                           class="footer__language-btn"
                           data-dropdown-btn="language"
                           >
                           Americas - English
                        </div>
                        <div
                           class="
                           footer__language-dropdown
                           dropdown
                           dropdown--design-01
                           dropdown--reverse-y
                           "
                           data-dropdown-list="language"
                           >
                           
                        </div>
                     </div>
                  </div>
                  <div class="footer__bline">
                     <ul class="footer__menu">
                        <li class="footer__copyright">
                           <span>&copy; 2021 Vullogia. All rights reserved.</span>
                        </li>
                     </ul>
                     <ul class="footer__social">
                        <li>
                           <a href="#"
                              ><i
                              class="fa fa-facebook-square"
                              aria-hidden="true"
                              ></i
                              ></a>
                        </li>
                        <li>
                           <a href="#"
                              ><i
                              class="fa fa-twitter"
                              aria-hidden="true"
                              ></i
                              ></a>
                        </li>
                        <li>
                           <a href="#"
                              ><i
                              class="fa fa-google-plus"
                              aria-hidden="true"
                              ></i
                              ></a>
                        </li>
                        <li>
                           <a href="#"
                              ><i
                              class="fa fa-dribbble"
                              aria-hidden="true"
                              ></i
                              ></a>
                        </li>
                        <li>
                           <a href="#"
                              ><i
                              class="fa fa-cloud"
                              aria-hidden="true"
                              ></i
                              ></a>
                        </li>
                        <li>
                           <a href="#"
                              ><i
                              class="fa fa-rss"
                              aria-hidden="true"
                              ></i
                              ></a>
                        </li>
                     </ul>
                     <div
                        class="footer__language-btn-m"
                        data-dropdown-btn="language"
                        >
                        Americas - English<i
                           class="icon-Arrow_Below"
                           ></i>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      {% block scripts %}
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/velocity/velocity.min.js' %}"></script>
      <script src="{% static 'js/app.js' %}"></script>
      {% endblock %}
   </body>
</html>