{% extends "base.html"%}
{% load static%}    <!-- MAIN -->
{% block title %}Question{% endblock %}
{% block content %}
    <main>
        <div class="container">
            <div class="nav">
                <div class="nav__menu js-dropdown">
                    <div class="nav__select">
                        <div class="btn-select" data-dropdown-btn="menu">Latest</div>
                        <div class="dropdown dropdown--design-01" data-dropdown-list="menu">
                        <li class="active"><a href="#">Trending</a></li>
                        <li><a href="#">New Questions</a></li>
                        <li><a href="#">Polls</a></li>
                        <li><a href="#">Post Question</a></li>
                        <li><a href="#">Add a poll</a></li>
                        <li><a href="#">My Account</a></li>
                        </div>
                        
                    </div>
                    <ul>
                        <li class="active"><a href="/">Trending</a></li>
                        <li><a href="#">New Questions</a></li>
                        <li><a href="#">Polls</a></li>
                        <li><a href="#">Post Question</a></li>
                        <li><a href="#">Add a poll</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="topics">
                <div class="topics__heading">
                    <h2 class="topics__heading-title">{{question.title}}?</h2>
                    
                </div>
                <div class="topics__body">
                    <div class="topics__content">
                        <div class="topic">
                            <div class="topic__head">
                                <div class="topic__avatar">
                                    <a href="#" class="avatar"><img src="{% static 'fonts/icons/avatars/B.svg' %}" alt="avatar"></a>
                                </div>
                                <div class="topic__caption">
                                    <div class="topic__name">
                                        <a href="#">{{question.creator.username}}</a>
                                    </div>
                                    <div class="topic__date"><i class="icon-Watch_Later"></i>{{question.created}}</div>
                                </div>
                            </div>
                            <div class="topic__content">
                                <div class="topic__text">
                                    <p>{{question.body}}</p>
                                    
                                </div>
                                <div class="topic__footer">
                                   
                                    <div class="topic__footer-share">
                                    
                                        <a href="/reply/add"><i class="icon-Reply_Fill"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="answer"><h4>Replies</h4></div>
                        {% for replies in replies %}
                        <div class="topic">
                            <div class="topic__head">
                                <div class="topic__avatar">
                                    <a href="#" class="avatar"><img src="{% static 'fonts/icons/avatars/N.svg' %}" alt="avatar"></a>
                                </div>
                                <div class="topic__caption">
                                    <div class="topic__name">
                                        <a href="#">{{replies.user.username}}</a>
                                    </div>
                                    <div class="topic__date">
                                        <div class="topic__user topic__user--pos-r">
                                            <i class="icon-Reply_Fill"></i>
                                            <a href="#" class="avatar"><img src="{% static 'fonts/icons/avatars/B.svg' %}" alt="avatar"></a>
                                            <a href="#" class="topic__user-name">{{replies.question.creator.username}}</a>
                                        </div>
                                        <i class="icon-Watch_Later"></i>{{replies.date}}
                                    </div>
                                </div>
                            </div>
                            <div class="topic__content">
                                <div class="topic__text">
                                    <p>{{replies.body}}</p>
                                </div>
                                {% endfor %}
                                {% comment %} <div class="topic__footer"> {% endcomment %}
                                    {% comment %} <div class="topic__footer-likes">
                                        <div>
                                            <a href="#"><i class="icon-Upvote"></i></a>
                                            <span>137</span>
                                        </div>
                                        <div>
                                            <a href="#"><i class="icon-Downvote"></i></a>
                                            <span>02</span>
                                        </div>
                                        <div>
                                            <a href="#"><i class="icon-Favorite_Topic"></i></a>
                                            <span>46</span>
                                        </div>
                                    </div> {% endcomment %}
                                    {% comment %} <div class="topic__footer-share">
                                        <div data-visible="desktop">
                                            <a href="#"><i class="icon-Share_Topic"></i></a>
                                            <a href="#"><i class="icon-Flag_Topic"></i></a>
                                            <a href="#"><i class="icon-Bookmark"></i></a>
                                        </div>
                                        <div data-visible="mobile">
                                            <a href="#"><i class="icon-More_Options"></i></a>
                                        </div>
                                        <a href="#"><i class="icon-Reply_Fill"></i></a>
                                    </div> {% endcomment %}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}